.hhconfig
.onion/
.lazy.*
.php_cs.cache
*SchemaProxy.php
/vendor
/build/
/db/config/*.php
/phpunit.xml
*.sqlite
*.log
tests/.database.config.php
tests/config/.database.config.php
/db/migrations
/tmp
/tests/tmp
/tests/config/*.php
src/Model/MetadataBase.php
src/Model/MetadataCollectionBase.php
src/Model/MetadataBaseRepo.php
examples/todos/db/config/database.php
/tests/migrations_testing/
*.tmp.yml
Test*.php
*Base.php
*BaseCollection.php
*RepoBase.php
