<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         colors="true"
         stopOnFailure="true"
         stopOnError="true"
         verbose="true">
  <php>

    <!-- configuration for mysql -->
    <env name="DB_MYSQL_DSN" value="mysql:dbname=testing"/>
    <env name="DB_MYSQL_USER" value="testing"/>
    <env name="DB_MYSQL_PASS" value="testing"/>

    <!-- configuration for pgsql -->
    <env name="DB_PGSQL_DSN" value="pgsql:dbname=testing"/>
    <env name="DB_PGSQL_USER" value="testing"/>
    <env name="DB_PGSQL_PASS" value="testing"/>

    <env name="DB_SQLITE_DSN" value="sqlite::memory:"/>
  </php>

  <filter>
    <whitelist>
        <directory suffix=".php">src/</directory>
    </whitelist>
  </filter>

  <testsuites>
    <testsuite name="PHPUnit">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
